<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410513715006-oov6ut5v4lgt7ntu59ipl9lag6ltecu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410513715006-oov6ut5v4lgt7ntu59ipl9lag6ltecu5</string>
	<key>API_KEY</key>
	<string>AIzaSyAjUImGtXnxixDgq83MUcGnKoTVkzHAvqw</string>
	<key>GCM_SENDER_ID</key>
	<string>410513715006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brendan.Ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-9d5c9</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-9d5c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410513715006:ios:84358f043d10cd45</string>
	<key>DATABASE_URL</key>
	<string>https://ecommerce-9d5c9.firebaseio.com</string>
</dict>
</plist>